<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>Evaluation Performance Forms</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/user-list"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> User List
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/form-list"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Form List
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Forms
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/executive-view/0/edit"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-file'></span> Executive Form
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/step-view"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-file'></span> Step Pay Plan Form
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="!auth.isAuthenticated()">
          <a (click)='auth.login()'>
            <span class='glyphicon glyphicon-user'></span> Login
          </a>
        </li>
        <li *ngIf="auth.isAuthenticated()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/profile"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-user'></span> Profile
              </a>
            </li>
            <li>
              <a (click)='auth.logout()'>
                <span class='glyphicon glyphicon-log-out'></span> Log Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
