<div class="example-container row">
  <div class="col-sm-6">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="SAP">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Division">
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
